html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* typography and icons */

h1{
    color: #0F8CDF;
    margin-bottom: 10px;
    font-size: 20px;
}

i{
    font-size: 15px;
    cursor: pointer;
}

.fa-solid{
    color: #999;
}

.liked{
    color: red;
}

.retweeted {
  color: limegreen;
}

/* layout */

main, header{
    width: 290px;
    margin: 0 auto;
}

header{
    padding-bottom: 25px;
}

.tweet-input-area {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

/* textareas + btn */

textarea{
    border: none;
    resize: none;
    padding: 10px;
    margin: 0 0 20px 0;
    height: 60px;
    width: 100%;
    font-size: 20px;
    line-height: 30px;
}

button{
    background-color: #1DA1F2;
    border: none;
    color: white;
    padding: 10px 19px;
    border-radius: 20px;
    width: 100%; 
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
}

/* tweet */

.tweet{
    border-top: 1px solid lightgray;
    padding: 20px 0 0 0;
    width: 100%;
    margin: 15px 0;
}

.tweet-inner{
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.tweet-details{
    display: flex;
    font-size: 13px;
    justify-content: space-between;
    width: 160px;
}

.tweet-detail{
    display: flex;
    gap: 4px;
}

.tweet-reply{
    border-top: 1px solid lightgray;
    padding: 20px 0 0 0px;
    margin: 10px 0 10px 40px;
    width: 80%;
}

.reply-tweet-box {
    border-top: none;
    margin: 15px 0 0px 35px;
}

.handle{
    font-size: 12px;
    font-weight: 500;
    color: #555;
    margin-top: 0;
}

.tweet-text{
    width: 207px;
    font-size: 14px;
    line-height: 20px;
}

.tweet-handle-container {
    display: flex;
    justify-content: space-between;
}

/* images */

.profile-pic{
    border: 1px solid lightgray;
    border-radius: 50%;
    width: 48px;
}

.delete-tweet-modal {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 290px;
    height: 150px;
    text-align: center;
    box-shadow: 0px 0px 18px #d1d1d1;
    border-radius: 5px;
    background: white;
    padding: 0px 15px;
}

.modal-btn {
    background-color: white;
    color: #1DA1F2;
    border-radius: 0px;
    border-top: 1px solid lightgray;
    padding-top: 15px;
}

.modal-btn:hover {
    color: limegreen;
}

.reply-tweet-box {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 5px;  
    padding: 5px;
}

.reply-tweet-text {
    grid-column-start: 1;
    grid-column-end: 2;
    font-size: 14px;
    padding: 0 5px;
}

.reply-tweet-btn {
    font-size: 14px;
}

/* utility */
.hidden{
    display: none;
}